<!doctype html>
<html>
<head>
    <%- partial("../_partials/_head") %>
    <link rel="stylesheet" href="<%- link %>">
</head>
<body>
    <header><%- partial("../_partials/_header") %></header>
    <main><%- yield %></main>
    <footer><%- partial("../_partials/_footer") %></footer>
</body>
</html>
