<nav>
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link" href="<%= PAGES.INUIT.url %>"><%= PAGES.INUIT.name %></a></li>
        <li class="nav-item"><a class="nav-link" href="<%= PAGES.PORTFOLIO.url %>"><%= PAGES.PORTFOLIO.name %></a></li>
        <li class="nav-item"><a class="nav-link" href="<%= PAGES.MODULAR.url %>"><%= PAGES.MODULAR.name %></a></li>
    </ul>
</nav>

